@model ProductDetailsModel
@{ 

    var whatsapp = "";
    var text = $"Bukit%20Bunga%20Grocer%20{Model.Name}%20%3A%20";
    if (!string.IsNullOrWhiteSpace(Model.VendorModel.Telephone))
    {
        var phone = Model.VendorModel.Telephone;
        if (!phone.StartsWith("+6"))
        {
            phone = "6" + Model.VendorModel.Telephone.Replace(" ", "")
                .Replace("-", "");
        }
        whatsapp = $"https://wa.me/{phone}?text={text}";

    }

}
@if (!string.IsNullOrWhiteSpace(Model.PageShareCode))
{
    <div class="product-share-button">
        @if (!string.IsNullOrWhiteSpace(whatsapp))
        {
            <a class="btn btn-primary" href="@whatsapp">
                <img src="~/images/whatsapp.png" alt="Whatsapp" />
            </a>

        }
        @Html.Raw(Model.PageShareCode)
    </div>
}